.catalog{
    color: #ecf0f1;
}

.catalog>span{
    float: right;
}

.search{
    font-family:Arial, FontAwesome;
    border: none;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    padding: 2px;
    color: rgba(236, 240, 241,1);
}

input:focus{
    outline: none;
}

.display{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.movie{
    display: grid;    
    height: 250px;
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    position: relative;
}

.movie>p{
    display: none;
    margin: 0;
    font-size: 1.5em;
    color: #ecf0f1;
    text-shadow: 1px 1px 3px black;
    position: absolute;
    bottom: 0;
}

.movie>i{
    margin: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    cursor: pointer;
    color:white; 
    text-shadow: 1px 1px 3px black;
    z-index: 100;
}

.movie:hover p{
    display: flex;
}
