*{
  font-family:'Lucida Sans';
}

body{
  background-color: #141414;
  margin: 10px;
}

.nav{
  margin-bottom: 10px;
}

.nav>a{
  margin-right: 10px;

  text-decoration: none;
  color: #ecf0f1
}

.nav>a:hover{
  color: #f1ed0f
}

.nav>.logo{
  float: right;
   color: #fbf161; /* Must be slightly transparent for effect to work */
  font: bold 14px/14px 'Lucida Sans', sans-serif;
  margin-left: 5px;
  text-align: center;
  text-shadow: 0 3px 7px #000, 0 0 0 #000;
}

hr{
  margin-left: 0;
  width: 20%;
}